<div class="editor-tests">
    <button mat-raised-button color="primary" type="button" (click)="addTest()" *ngIf="!editMode">
        Добавить тест
    </button>

    <div *ngIf="tests.length && !editMode" class="existedTests">
        <span *ngFor="let test of tests">
            {{test.name}}
        </span>
    </div>

    <div *ngIf="editMode" class="testCreation">
        <div id="test" class="questionDiv">
            <input class="test-name" [(ngModel)]="testName" placeholder="Название теста" >
            <div class="test-name">
                Вопрос №{{questions.length+1}}
            </div>
            <form [formGroup]="formGroup" class="questionDiv">
                <div>
                    <label>
                        Заголовок вопроса:
                        <input class="text" formControlName="header" placeholder="Заголовок вопроса">
                    </label>
                </div>
                <div>
                    <label>
                        Тип вопроса:
                        <select formControlName="type" placeholder="Тип вопроса">
                            <option class="type" [value]="questionType.FindAPart">
                                Найдите деталь
                            </option>
                            <option class="type" [value]="questionType.InsertNameOfPart">
                                Введите название детали
                            </option>
                        </select>
                    </label>
                </div>
                <div>
                    <label [ngSwitch]="formGroup.value.type">
                        Ответ:
                        <input class="text" *ngSwitchCase="questionType.FindAPart" formControlName="answer"
                            placeholder="Укажите деталь, которую нужно найти">
                        <input class="text" *ngSwitchCase="questionType.InsertNameOfPart" formControlName="answer"
                            placeholder="Укажите название выбранной детали">
                    </label>
                </div>
            </form>
        </div>

    </div>

    <button class="buts" mat-raised-button color="primary" type="button" (click)="addQuestion()" *ngIf="editMode">
        Добавить вопрос
    </button>

    <button class="buts" mat-raised-button color="primary" type="button" (click)="finishTest()" *ngIf="editMode">
        Завершить создание теста
    </button>
    <button class="buts" mat-raised-button color="primary" type="button" (click)="cancel()" *ngIf="editMode">
        Отмена
    </button>
</div>