.basic {
    margin: 10px;
    font-size: 15px;
}

.test-title{
    font-size: 24px;
    margin-top: 15px;
}

.question-header{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
}

.test-button{
    margin-bottom: 10px;
    padding: 10px 24px;
    font-size: 16px;
    background-color: #4CAF50;
    border-radius: 8px;
}