<div *ngIf="test" class="basic">
  <div class="test-title">
    Тест: {{test.name}}
  </div>
  <div *ngIf="test.questions?.length">
    <mat-tab-group>
      <mat-tab [label]="(i + 1).toString()" *ngFor="let question of test.questions; let i = index">
        <form [formGroup]="firstFormGroup">
          <ng-container [ngSwitch]="question.type">
            <ng-container *ngSwitchCase="questionType.FindAPart">
              <div class="question-header">Вопрос:
                {{question.header}}</div>

              <mat-form-field appearance="outline">
                <mat-label></mat-label>
                <input matInput [formControlName]="question.header">
              </mat-form-field>
              <div>
                <button [disabled]="!sceneService.selectedObj" class="test-button" mat-raised-button color="primary" type="button">
                  Подтвердить выбор
                </button>
              </div>
            </ng-container>

            <ng-container *ngSwitchCase="questionType.WhatAPart">
              <div>Вопрос:
                {{question.header}}</div>

              <mat-form-field appearance="outline">
                <mat-label></mat-label>
                <input matInput [formControlName]="question.header">
              </mat-form-field>
            </ng-container>

            <ng-container *ngSwitchCase="questionType.OneOfThree">
              <div>Вопрос:
                {{question.header}}</div>

              <mat-form-field appearance="outline">
                <mat-label></mat-label>
                <input matInput [formControlName]="question.header">
              </mat-form-field>
            </ng-container>

          </ng-container>
        </form>
      </mat-tab>
    </mat-tab-group>
    <div>
      <button class="test-button" routerLink="../test-result" mat-button (click)="endTest()">Завершить тест</button>
    </div>
  </div>
</div>