.allTests{
    padding: 16px;
    font-size: 20px;
}

.test-title{
    padding: 24px;
    font-size: 16px;
}

.test-button{
    margin-left: 24px;
    padding: 10px 24px;
    font-size: 16px;
    background-color: #4CAF50;
    border-radius: 8px;
}